<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
        <title>Projeto Animais Fofos </title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
              <a class="navbar-brand" href="{{url_for('home')}}">Inicio</a>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
    
                </ul>
                <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2" type="search" placeholder="Procurar" aria-label="Search" id="buscar">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Procurar</button>
                </form>
              </div>
            </div>
          </nav>

        {% block body %}{% endblock %}
        
        <div class="container">
          <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">&copy; 2020 - Todos os direitos reservados - Guilherme Mendes</p>
            <ul class="list-inline">
              <li class="list-inline-item">
                    <p class="float-right">
                        <a href="#">Voltar ao topo</a>
                    </p>
                </li>
            </ul>
          </footer>
        </div>
        <script scr="{{url_for('static', filename='js/jquery-3.5.1.min.js', _external=true)}}"></script>
        <script scr="{{url_for('static', filename='js/bootstrap.min.js', _external=true)}}"></script>



    </body>
  
</html>

