<div class="card">
      <div class="card-body">
        <h5 class="card-title">Comentarios</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
                {% for comentario in video.get_comentario() %}
                    <div class="card" id="lista-coment">
                        <div class="card-body">
                        <h5 class="card-title">{{comentario.get_autor()}}</h5>
                        <p class="card-text">{{comentario.get_conteudo()}}</p>
                        </div>
                    </div>
                {% endfor %}
          </li>
        </ul>
      </div>
    </div>