{% extends 'base.html' %}
{% block body %}

<div class="container p-5">
  <script type="text/javascript" src="{{url_for('static', filename='js/expediente.js', _external=true)}}"></script>
  <div class="card-group">
    <div class="card">
      <img src="{{url_for('static', filename='img/ham1.png')}}" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Video mais curtido 1</h5>
        <p class="card-text">Descrição video mais curtido 1</p>
      </div>
    </div>
    <div class="card">
      <img src="{{url_for('static', filename='img/ham2.jpg')}}" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Video mais curtido 2</h5>
        <p class="card-text">Descrição video mais curtido 2</p>
      </div>
    </div>
    <div class="card">
      <img src="{{url_for('static', filename='img/ham3.png')}}" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Video mais curtido 3</h5>
        <p class="card-text">Descrição video mais curtido 3</p>
      </div>
    </div>
  </div>
</div>

{%endblock%}