{% extends 'base.html' %}
{% block body %}

<div class="container">
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{video.get_titulo()}}</h4>
        <p class="card-text">{{video.get_descricao()}}</p>
      </div>
        <video  class="img-fluid"  controls src="{{url_for('static', filename=video.get_videoURL())}}" type="video/mp4"></video>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Dados do video:</h5>
        <ul class="list-group list-group-flush">
          <div id="div-curtida"><li class="list-group-item">Quantidades de curtida: {{video.get_qntCurtida()}}</li></div>
          <li class="list-group-item">Quantidades de visualização: {{video.get_qntVisualizacao()}}</li>
          <li class="list-group-item text-center"  >
            <button  class="btn btn-primary" id="curti" onclick="curtir()">Curtir</button>
          </li>
          <li class="list-group-item">
            <form enctype="multipart/form-data" action="{{url_for('comentar',video_id = video.get_id())}}" method="POST" onsubmit="return submitForm(this);">
              <div class="row">
                <div class="col">
                  <label for="inputNome">Nome: </label>
                  <input type="text" class="form-control" id="inputNome" name="nome">
                </div>
                <div class="col">
                  <label for="InputComentario">Digite seu comentario</label>
                  <input type="textarea" class="form-control" id="InputComentario" name="coment">
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
              </div>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-6" >
    <div class="card">
      <div class="card-body" id="div-comentario">
        <h5 class="card-title">Comentarios</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            {% for comentario in video.get_comentario() %}
              <div class="card" id="lista-coment">
                <div class="card-body">
                  <h5 class="card-title">{{comentario.get_autor()}}</h5>
                  <p class="card-text">{{comentario.get_conteudo()}}</p>
               </div>
              </div>
            {% endfor %}
          </li>
        </ul>
    </div>
    </div>
  </div>
</div>

<script>
  function submitForm(formElement){
    var formData = new FormData(formElement);
    var xhr = new XMLHttpRequest();
    xhr.open(formElement.method, formElement.action);
    xhr.onreadystatechange = function() {
      if(xhr.readyState == 4 && xhr.status == 201) {
        document.getElementById('div-comentario').innerHTML = xhr.response;
        };
      };
    xhr.send(formData);
    return false;
  }
</script>

<script>
  function curtir(formElement){
    var formData = new FormData(formElement);
    var xhr = new XMLHttpRequest();
    xhr.open('POST', "{{url_for('curtir',video_id = video.get_id())}}");
    xhr.onreadystatechange = function() {
      if(xhr.readyState == 4 && xhr.status == 200) {
        document.getElementById('div-curtida').innerHTML = xhr.response;
        };
      };
    xhr.send(formData);
    return false;
  }
</script>

 

{%endblock%}

